<div class="container">
<div class="row">
    <div class="col-xs-12">
<% if logged_in? %>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand">TimeZone</a>
        </div>
            <p class="navbar-text"> Signed as <%= current_user.name %></p>
        
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Home", home_path %></li>
                <li><%= link_to "Users", users_path %></li>
                <li><%= link_to "Profile", profile_path %></li>
                <li><%= link_to '<span class="glyphicon glyphicon-off"></span>'.html_safe, logout_path, method: "delete" %></li>
            </ul>
    </nav>
<% end %>
    </div>
</div>    
</div>
